body {
	font: 16px Georgia, Times, Serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Cocin, Georgia, Serif;
	font-weight: 200;
	font-style: italic;
}
h1 {
	font-size: 38px;
	font-style: normal;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}

a:hover {
	color: #000;
	text-decoration: underline;
}
a:visited {
	color: #;
}
a {
	text-decoration: none;
	color: #08A;
}

p {
	line-height: 140%;
}

header h1 {
	font-size: 80px;
	text-align: center;
	padding: 0;
	margin: 20px 0;
}

header img#logo {
	width: 300px;
	display: block;
	margin: 0 auto;
	height: auto;
}

header, section#main, footer {
	width: 800px;
	margin: 20px auto;
}

section#main {
	font: 16px Georgia, Times, Serif;
}

footer:before, header:after {
	clear: both;
	display: block;
	content: "~";
	color: #333;
	font: 45px Georgia, Serif;
	text-align: center;
}

footer {
	text-align: center;
	color: #CCC;
}

footer ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
}

footer ul li {
	display: inline;
	vertica-align: center;
}

hr {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
}

hr:after {
	clear: both;
	display: block;
	content: "* * *";
	font: 45px Georgia, Serif;
	text-align: center;
	height: 30px;
}

pre, p > code {
	border-radius: 5px;
	border: 1px solid #333;
}

pre, pre > code, p > code {
	background: #EEE none;
	font-family: Melno, Monaco, Consolas, Monospace;
	color: #333;
}

p > code {
	display: inline;
	padding: 1px 5px;
}

pre {
	display: block;
	padding: 15px;
}
